

.about {
    background: rgb(29, 84, 135);
    background: -webkit-gradient(linear, left top, right top, from(rgba(29, 84, 135, 1)), to(rgba(86, 19, 171, 1)));
    background: -o-linear-gradient(left, rgba(29, 84, 135, 1) 0%, rgba(86, 19, 171, 1) 100%);
    background: linear-gradient(90deg, rgba(29, 84, 135, 1) 0%, rgba(86, 19, 171, 1) 100%);
    background: url('../../img/back_two.png')no-repeat center top;
    background-size: cover;
    position: relative;
}

.container .wrap_two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

p {
    font-family: 'Righteous',
        cursive;
}

.container .wrap_two .img_two {
    margin-top: 100px;
    text-align: center;
}

.container .wrap_two .img_two p {
    color: #fff;
    font-family: 'Righteous',
        cursive;
    font-size: 18px;
    line-height: 25px;
    width: 553px;
    padding-top: 25px;
}

.people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 100px;
}

.people .ilya img {
    -webkit-box-shadow: 0px 4px 25px #351880;
    box-shadow: 0px 4px 25px #351880;
    border-radius: 100px;
    width: 206px;
}

.people .title_people {
    padding-top: 10px;
    margin: 0;
    color: #BD00FF;
    font-family: 'Righteous',
        cursive;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
}

.people .title_about {
    padding: 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.people .vlad img {
    -webkit-box-shadow: 0px 4px 20px #351880;
    box-shadow: 0px 4px 20px #351880;
    border-radius: 100px;
    width: 206px;
}



/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .container .wrap_two .img_two p {

        font-size: 15px;
        line-height: 25px;
        padding-top: 25px;
    }

    .container .wrap_two .img_two {
        margin-top: 0;
        text-align: center;
    }

    .people .ilya img {
        -webkit-box-shadow: 0px 4px 25px #351880;
        box-shadow: 0px 4px 25px #351880;
        border-radius: 100px;
        max-width: 100px;
    }

    .people .vlad img {
        -webkit-box-shadow: 0px 4px 25px #351880;
        box-shadow: 0px 4px 25px #351880;
        border-radius: 100px;
        max-width: 100px;
    }

    .people {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 0 auto;
    }

    .people .title_people {
        padding-top: 10px;
        margin: 0;

        font-size: 16px;
        line-height: 15px;
        text-align: center;
    }

    .people .title_about {

        font-size: 16px;
        text-align: center;
        padding: 0px;
    }

    img {
        max-width: 300px;
    }

    /* стили */
}

@media only screen and (max-height: 785px) {
    .container .wrap_two .img_two {
        margin-top: 0;
    }
}

@media (max-height: 685px) {

    .container .wrap_two .img_two p {

        font-size: 15px;
        line-height: 25px;
        width: auto;
        padding-top: 25px;
    }

    .container .wrap_two .img_two {
        margin-top: 0;
        text-align: center;
    }

    .people .ilya {
        margin-right: 15px;
    }

    .people .ilya img {
        -webkit-box-shadow: 0px 4px 25px #351880;
        box-shadow: 0px 4px 25px #351880;
        border-radius: 100px;
        max-width: 100px;
        position: relative;
        left: 10%;
        margin: 0 auto;
        text-align: center;
    }

    .people .vlad img {
        position: relative;
        left: 10%;
        margin: 0 auto;
        -webkit-box-shadow: 0px 4px 25px #351880;
        box-shadow: 0px 4px 25px #351880;
        border-radius: 100px;
        max-width: 100px;
        text-align: center;
    }

    .people {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 0 auto;
    }

    .people .title_people {
        padding-top: 10px;
        margin: 0;

        font-size: 16px;
        line-height: 15px;
        text-align: center;
    }

    .people .title_about {

        font-size: 16px;
        text-align: center;
        padding: 0px;
    }

    img {
        max-width: 300px;
    }
}