.portfolio {
  background-image: url('../../img/portBack.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


.portfolio__logo {

  text-align: center;
  display: block;
}

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

.slider {
  width: 100%;
}

#block-for-slider {

  margin: 0 auto;

}

#viewport {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}

#slidewrapper {
  position: relative;
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  -o-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
  transition-timing-function: cubic-bezier(.67, .01, .23, 1);
}

#slidewrapper,
#slidewrapper ul,
#slidewrapper li {
  margin: 0;
  padding: 0;
}

.sliderr {
  width: calc(100%/4);
  list-style: none;
  display: inline;
  float: left;
  display: flex;
}



#prev-btn,
#next-btn {
  position: absolute;
  width: 50px;
  height: 50px;

  border-radius: 50%;
  top: calc(50% - 25px);
}

#prev-btn:hover,
#next-btn:hover {
  cursor: pointer;
}

#prev-btn {
  left: 0px;
  background: url('../../img/Влево@1X.png') no-repeat;
}

#next-btn {
  right: 0px;
  background: url('../../img/Влево@1X.png') no-repeat;
  transform: rotate(180deg);
}






.slide-nav-btn:hover {
  cursor: pointer;
}







.info_slide {
  text-align: center;
  margin: auto;
  position: relative;
}


.shop_slide {
  color: #c7151d;
  text-decoration: underline;
  padding-bottom: 2vh;
}

.shop_slide h1 {
  font-size: 48px;
  line-break: 38px;
  letter-spacing: 9px;

}

.mimino {
  color: #53ffff;
}

.WAYUP {
  color: #49c715;
}

.expoforum {
  color: #451fad;
}

.slide_img,
.slide_img img {
  width: 100%;
}


@media (max-width:400px){
  .shop_slide h1{
    font-size: 33px;
  }
  .mimino, .expoforum,.WAYUP{
    padding-top: 17%;
  }
}